<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chronic Pain Form</title>
</head>
<body>
  <form id="survey">
    <div id="surveyContents">
    </div>
    <input type="submit">
  </form>
  <script src="scripts/form.js" type="module"></script>
</body>
</html>